/__pycache__
/__pycache__/*
experiments/Hamilton*
experiments/results
experiments/vergence
experiments/vergence_interval*
experiments/vergence_plots/animated
experiments/**/*.png
*.pyc
/build
/DRUGS.egg-info